<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>cat sun god</title>
    <link rel='stylesheet' type="text/css" href='game.css' />
</head>

<body>
    <h1>
        Cat God vs Sun King 2
    </h1>
<div class="game4">
    <embed width="720" height="480" base="https://external.kongregate-games.com/gamez/0016/8603/live/" src="https://external.kongregate-games.com/gamez/0016/8603/live/embeddable_168603.swf" type="application/x-shockwave-flash"></embed><br/>
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
}
</style>
</body>

</html>