<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>kong</title>
    <link rel='stylesheet' type="text/css" href='game.css' />
</head>

<body>
    <h1>
        Dungeons of Kong
    </h1>
<div class="game2">
        <embed width="720" height="480" base="https://external.kongregate-games.com/gamez/0019/0038/live/" src="https://external.kongregate-games.com/gamez/0019/0038/live/embeddable_190038.swf" type="application/x-shockwave-flash"></embed><br/><br/>
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
}
</style>
</body>

</html>