{% extends 'base.html' %}

{% block content %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"> -->

<div class="intro">
    <h1>  welcome to vGames  </h1>
    <img class="img border" src="https://cdn.dribbble.com/users/41866/screenshots/756200/rocket.gif">
    <br>
    <h4>Browse through our free collection of video games</h4>
    <div class="topnav">
        <a href="/about">About</a>
        <a href="games_index.html">Games</a>
    </div>
</div>

<div class="game1">
    <a href="/game1">
        <img src="https://cdn1.kongcdn.com/game_icons/0052/9828/smubr_logo_250x200.png?i10c=img.resize(width:93)" class="img1">
    </a>
    <a href="/game1"><p class="p1">Battle Robot</p></a>
</div>

<div class="game2">
    <a href="/game2">
        <img src="https://cdn4.kongcdn.com/game_icons/0049/8412/dok_icon_250x200.jpg?i10c=img.resize(width:93)" class="img1">
    </a>
    <a href="/game2"><p class="p1">Dungeons of Kong</p></a>
</div>

<div class="game3">
    <a href="/game3">
        <img src="https://cdn3.kongcdn.com/game_icons/0046/5640/icon_coaster3_400_blur.jpg?i10c=img.resize(width:93)" class="img1">
    </a>
    <a href="/game3"><p class="p1">Coaster Racer 3</p></a>
</div>

<div class="game4">
    <a href="/game4">
        <img src="https://cdn4.kongcdn.com/game_icons/0044/8435/cgvsk2_250x200.png?i10c=img.resize(width:93)" class="img1">
    </a>
    <a href="/game4"><p class="p1">Cat God vs Sun King 2</p></a>
</div>

<div class="w3-table" style="visibility: hidden;">
    <table>
        <thead>
            <tr>
                <th colspan="3">Photo</th>
                <th colspan="3">Description</th>
                <th colspan="3">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>img</td>
                <td>Description</td>
                <td>EUR 12.345</td>
            </tr>
            <tr>
                <td>img</td>
                <td>Description</td>
                <td>EUR 12.345</td>
            </tr>
            <tr>
                <td>img</td>
                <td>Description</td>
                <td>EUR 12.345</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row-main">
    <div class="middlepane01">

    </div>
    <div class="leftpane">
        
    </div>
    <div class="rightpane">
        
    </div>
</div>
<div class="grid-container" style="visibility:hidden;">
        <div class="grid-item g1"><img src="https://cdn1.kongcdn.com/game_icons/0052/9828/smubr_logo_250x200.png?i10c=img.resize(width:50%)">1</div>
        <div class="grid-item">2</div>
        <div class="grid-item">3</div>
        <div class="grid-item">4</div>
        <div class="grid-item">5</div>
        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
        <div class="grid-item">9</div>
</div>
<div class="container">
    <div class="toppane">test</div>
    <div class="leftpane"><h1>test</h1></div>
    <div class="middlepane">test</div>
    <div class="rightpane"><h1>test</h1></div>
</div>
<style>
.loginform {
    background-color: yellow;
}
</style>
<div class="loginform">
    <h2>Modal Login Form</h2>
    <button
        onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
    <div id="id01" class="modal">
        <form class="modal-content animate"
        action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span
        onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="https://img.favpng.com/12/14/19/anonymous-icon-png-favpng-hUuYA47YM84NF5EwQXj15iEmD.jpg" alt="Avatar" class="avatar">
            </div>

            <div class="container2">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="enter username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="enter password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember">remember me
                </label>
            </div>

            <div class="container2" style="background-color: #f1f1f1">
                <button type="button"
            onlick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">forgot <a href="#">password, again?</a></span>
        </div>
    </form>
    </div>

    <script>
    //get the modal
    var modal = document.getElementById('id01');

    //when the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
</div>
<link rel='stylesheet' type="text/css" href='static/css/login.css' />

</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
{% endblock %}