<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>chess</title>
    <link rel='stylesheet' type="text/css" href='static/css/game.css' />
</head>

<body>
    <h1>
        Mini Chess
    </h1>
<div class="game10">
    <iframe 
        style="width: 100%; height: 550px; overflow: hidden;"
        src="https://playpager.com/embed/chess/index.html"
        scrolling="no">
    </iframe>
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
}
</style>
</body>

</html>