<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>ice</title>
    <link rel='stylesheet' type="text/css" href='static/css/game.css' />
</head>

<body>
    <h1>
        Ice Run
    </h1>
<div class="game6">
        <embed width="750" height="422" base="https://external.kongregate-games.com/gamez/0016/7488/live/" src="https://external.kongregate-games.com/gamez/0016/7488/live/embeddable_167488.swf" type="application/x-shockwave-flash"></embed><br/>
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
}
</style>
</body>

</html>