<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>worms</title>
    <link rel='stylesheet' type="text/css" href='static/css/game.css' />
</head>

<body>
    <h1>
        Effing Worms - Xmas
    </h1>
<div class="game9">
        <embed width="640" height="480" base="https://external.kongregate-games.com/gamez/0015/8740/live/" src="https://external.kongregate-games.com/gamez/0015/8740/live/embeddable_158740.swf" type="application/x-shockwave-flash"></embed><br/>
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
}
</style>
</body>

</html>