<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>legions</title>
    <link rel='stylesheet' type="text/css" href='static/css/game.css' />
</head>

<body>
    <h1>
        Monsters Legions
    </h1>
<div class="game7">
    <embed width="720" height="480" base="https://external.kongregate-games.com/gamez/0016/4412/live/" src="https://external.kongregate-games.com/gamez/0016/4412/live/embeddable_164412.swf" type="application/x-shockwave-flash"></embed><br/>
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
}
</style>
</body>

</html>