<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>parking</title>
    <link rel='stylesheet' type="text/css" href='static/css/game.css' />
</head>

<body>
    <h1>
        Parking Fury
    </h1>
<div class="game11">
    <iframe 
        style="width: 720px; height: 480px; overflow:hidden; margin-left: 30%; margin-top: 5%;"
        src="https://www.silvergames.com/en/parking-fury/iframe?t=1"
        scrolling="no">
    </iframe>
    <!-- <iframe src="https://www.silvergames.com/en/parking-fury/iframe?t=1" width="800" height="600" style="margin:0;padding:0;border:0"></iframe> -->
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
    float:right 5%;
}
</style>
</body>

</html>