<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <meta charset='utf-8'>
    <title>battle robot</title>
    <link rel='stylesheet' type="text/css" href='game.css' />
</head>

<body>
    <h1>
        Super Mega Ultra Battle Robot 2.0
    </h1>
<div class="game1">
    <embed width="720" height="480" base="https://external.kongregate-games.com/gamez/0020/3834/live/" src="https://external.kongregate-games.com/gamez/0020/3834/live/embeddable_203834.swf" type="application/x-shockwave-flash"></embed><br/>
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
}
</style>
<br>
<div class='wrapper'> 
        <h1>Pure css favorite button</h1>
        <h2>Nice little button for favoriting blog posts etc.</h2>
        <div class='wrapper_content'>
          <div class='wrapper_content__inner'>
            <input id='click' type='checkbox'>
            <label for='click'>
              <div class='favorite'>
                <div class='spinner'>
                  <div class='spinner_part'></div>
                  <div class='spinner_part'></div>
                  <div class='spinner_part'></div>
                </div>
                <div class='favorite_heart'>
                  <div class='favorite_heart__left'></div>
                  <div class='favorite_heart__right'></div>
                </div>
                <div class='favorite_text'>
                  <span>Favorite this</span>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class='love'>
        <p>Made with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" /></a></p>
      </div>

</body>

</html>