<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>airport</title>
    <link rel='stylesheet' type="text/css" href='game.css' />
</head>

<body>
    <h1>
        Airport Management 3
    </h1>
<div class="game5">
        <a href="https://cdn.htmlgames.com/AirportManagement3/" target="_blank"><img src="https://cdn.htmlgames.com/AirportManagement3/img/icon/image-300x200.jpg"></a><br/>
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
}
</style>
</body>

</html>
