<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='/game.css') }}">
  <meta charset='utf-8'>
  <title>battle robot</title>
  <!-- <link rel='stylesheet' type="text/css" href='/game/static/css/game.css' /> -->
</head>

<body>
  <h1>
    Super Mega Ultra Battle Robot 2.0
  </h1>
<div class="game1">
    <embed width="720" height="480" base="https://external.kongregate-games.com/gamez/0020/3834/live/" src="https://external.kongregate-games.com/gamez/0020/3834/live/embeddable_203834.swf" type="application/x-shockwave-flash"></embed><br/>
</div>
<style>
* {
    background-color: black;
}
h1 {
    color: red;
}
</style>
<br>

</body>
</html>